body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background-image: url(images/login.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="date"], button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.success-message {
    display: none;
    font-size: 18px;
    color: green;
    text-align: center;
    margin-top: 20px;
    animation: fadeIn 1s forwards;
}
#current-time { 
    position: absolute;  
    top: 20px; 
    right: 20px;
    font-weight: bold; 
    font-size: 1.2em;}
/* styles.css */
#terms-link {
    color: #0000EE; /* Default link color */
    text-decoration: none;
    font-weight: bold;
    
}

#terms-link:hover {
    color: #FF0000; /* Color on hover */
    text-decoration: underline;
    
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
